* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

#app {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

.usernameContainer {
  margin: 0;
}

.inputForm {
  display: inline;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 8px;
}

.submitButton {
  display: inline;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 8px;
}

.messageContainer {
  text-align: center;
}
